* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Steppe-Book';
    src: url("../fonts/Steppe-Book.ttf");
}

@font-face {
    font-family: 'Steppe-ExtraBold';
    src: url("../fonts/Steppe-ExtraBold.ttf");
}

body {
    font-family: 'Steppe-Book', sans-serif;
    color: #39373A;
    position: relative;
}

a {
    text-decoration: none;
}

.fixed-phone {
    position: fixed;
    /*bottom: 40px;*/
    bottom: 10%;
    right: 40px;
    z-index: 999;
    fill: #FFCC29;
    /*}*/
    user-select: none;
    transform: scale(1);
    animation: pulse 2s infinite;
}

.fixed-phone:hover {
    color: yellow;
    fill: yellow;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(255, 204, 41, 0.20);
    }

    70% {
        transform: scale(1);
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(255, 204, 41, 0.12);
    }

    100% {
        transform: scale(0.9);
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(255, 204, 41, 0.09);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    background-image: url("../images/main-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.menu-burger {
    position: fixed;
    right: 0;
    background: #000000e0;
    height: 100%;
    width: 60%;
    z-index: 999;
}
.burger-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 100px 50px;
    gap: 20px;
}
.burger-item a {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
.burger-item a:hover {
    color: #FFCC29;
    border-bottom: 2px solid #FFCC29;
}
.menu-close {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    fill: white;;
    position: absolute;
    top: 40px;
    left: 40px
}
.menu-close:hover {
    fill: #FFCC29;
}
.open {}
.header {
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: 90px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 68px;
    line-height: 1;
}

.menu-item a {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.menu-item a:hover {
    color: #FFCC29;
    border-bottom: 2px solid #FFCC29;
}

.button {
    cursor: pointer;
    width: 222px;
    padding: 15px 10px;
    line-height: 1;
    /*height: 54px;*/
    border: none;
    text-align: center;
    border-radius: 40px;
    background: #FFCC29;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #39373A;
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 18px;
}

.button:hover {
    background: #f4ff02;
}


.phone {
    line-height: 1;
    font-size: 18px;
    text-decoration: none;
    color: #39373A;
    padding: 15px 10px 13px 10px;
}
.main-content {
    position: relative;
    overflow: hidden;
}


.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-top: 120px;
}

.main-title {
    max-width: 990px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 85px;
    line-height: normal;
}

.main-title_accent {
    color: #FFCC29;
}

.main-text {
    color: #FFF;
    font-family: "Steppe-Book", sans-serif;
    font-size: 25px;
    line-height: normal;
}

.main-action {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 110px;
}

.main-action .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    font-size: 18px;
    text-align: center;
}

.about {
    position: relative;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
}

.common-title {
    color: #39373A;
    text-align: center;
    font-family: "Steppe-ExtraBold", sans-serif;
    font-size: 45px;
    line-height: 1;
}

.common-line {
    text-align: center;
}

.about-text {
    color: #39373A;
    text-align: justify;
    font-family: 'Steppe-Book', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}

.about-pictures {
    padding: 50px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.about-action {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-action .button {
    width: 340px;
    /*height: 54px;*/
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    background: #F9F9F9;
    padding: 80px 0;

}

.services-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 50px;
    margin-left: -140px;
    margin-right: -140px;
}

.service-item {
    position: relative;
    width: 360px;
    padding: 50px 40px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
}

.service-item-title {
    font-size: 22px;
    text-align: center;
    font-family: 'Steppe-ExtraBold', sans-serif;
}

.service-item span {
    text-align: center;
}

.service-item-text {
    font-size: 16px;
    padding-top: 20px;
}

.service-price {
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

.pricelist {
    fill: #39373A;
}
.pricelist:hover {
    width: 30px;
    height: 30px;
    fill: #FFCC29;
}


.consultation {
    background-image: url("../images/consultation-bg.webp");
    padding: 80px 0;
}

.consultation .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.consultation-text {
    font-family: 'Steppe-Book', sans-serif;
    font-size: 20px;
    text-align: center;
}

.consultation-action {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.consultation-input {

}

.button-grey {
    border-radius: 28px;
    background: #39373A;
    color: #FFF;
    font-family: "Steppe-Book", sans-serif;
    font-size: 16px;
    height: 54px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.button-grey:hover {
    background: #000000;
    font-family: "Steppe-ExtraBold", sans-serif;
}

.button-consultation {
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    padding: 80px 0;
}

.gallery-items {
    line-height: 1;
    padding: 80px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.gallery-item {
    position: relative;
}

.d-none {
    display: none;
}

.d-none-2 {
    display: none;
}

.d-none-3 {
    display: none;
}

.gallery-underlay {
    position: absolute;
    left: 1px;
    bottom: 40px;
    width: 320px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(0, 0, 0, 0.60);
    padding: 15px 20px;
}

.gallery-text {
    color: #FFF;
    font-family: 'Steppe-Book', sans-serif;
    font-size: 24px;
}

.gallery-action {
    text-align: center;
    /*padding-top: 50px;*/
    display: flex;
    justify-content: center;
}

.button-gallery {
    width: 290px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages {
    background: #F9F9F9;
    padding: 80px 0;
}

.advantages-items {
    padding-top: 50px;
    margin: 0 -120px;
    display: flex;
    gap: 10px
}

.advantage-item {
    width: 353px;
    height: 323px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
}

.advantage-item-title {
    font-size: 22px;
    font-family: 'Steppe-ExtraBold', sans-serif;
}

.advantage-item-text {
    font-family: 'Steppe-Book', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.order {
    background-image: url("../images/order-form.webp");
    padding: 10px 0;
}

.order-form {
    display: flex;
    justify-content: space-evenly;
    gap: 7px;
}

.order-form-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
    width: 550px;
}

.order-form-title {
    text-align: left;
}

.order-form-text {
    font-family: 'Steppe-Book', sans-serif;
    font-size: 20px;
}

.order-form-action {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-width: 380px;
    gap: 18px;
}

.input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFF;
    border: none;
    height: 54px;
    border-radius: 28px;
    width: 380px;
    padding: 18px 20px;
    font-family: 'Steppe-Book', sans-serif;
    font-size: 16px;
}

.input::placeholder {
    color: rgba(57, 55, 58, 0.85);
}

.order-form-input {

}

.error {
    display: none;
    font-size: 14px;
    font-family: 'Steppe-ExtraBold', sans-serif;
    text-align: center;
}

.button-order-form {

}

.order-form-img {
    text-align: center;
}

.contacts {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.contacts .container {
    position: relative;
}

.contacts-block {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.contacts-text {
    width: 505px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
}

.contacts-text-bg {
    position: absolute;
    top: 0;
    z-index: -1;
}

.contacts-bold {
    font-family: 'Steppe-ExtraBold', sans-serif;
}

.contacts-1 {

}

.contacts-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-2 div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts-links {
    font-family: 'Steppe-ExtraBold', sans-serif;
    text-decoration: none;
    color: black;
}

.map {
    display: flex;
    justify-content: center;
}

.map-location {
    display: flex;
    border: 0;
    width: 100%;
    height: 600px;
}

.footer {
    background: rgb(0 0 0 / 74%);
    padding: 50px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-item-footer a {
    color: #39373A;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-registration {
    color: white;
    font-size: 14px;
    text-align: center;
}

.footer-bold {
    font-family: 'Steppe-ExtraBold', sans-serif;
}
.legacy-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    color: #ffffffb8;
    border-radius: 6px;
}
.legacy-cookie > div {
    width: 100%;
    padding: 20px;
    background: rgb(0 0 0 / 79%);
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    color: #f1f1f1;
    align-items: center;
}
.legacy-cookie a {
    text-decoration: none;
    color: rgb(52, 160, 255);
}

.legacy-cookie-close {
    width: 16px;
    height: 16px;
    fill: #f1f1f1;
}